body{
	margin: 0px;
}
#calidad{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	filter: opacity();
}
#tarjeta{
	width: 60%;
	border: 2px solid #cecece;
	margin: 2.5em calc(20% - 2px); 
	display: inline-flex;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #cecece;
}
#perfil {
	width: 30%;
	padding: 4em;
}
#yo{
	width: 100%;
	border-radius: 50%;
	
}
#text{
	width: 70%;
	padding: 4em;
	text-align: left;
	color:#bd3339eb;
}
#footer a {
	width: 20%;
}
/* solo para las imagenes del  div footer se aplica el estilo*/
.foot{
	width: 50%;
	height: 100%;
	border-radius: 50%;
	margin: 0% 25%;
}

#footer{
	width: 60%;
	margin-left: 17em; /*arreglar a porcetaje*/
	box-shadow: 5px 5px 5px #cecece;
	border-radius: 10px;
	display: inline-flex;
	background: #ffffff;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
}